<div id="<%= dom_id geometry %>">
  <p>
    <strong>Name:</strong>
    <%= geometry.name %>
  </p>

  <p>
    <strong>Descripton:</strong>
    <%= geometry.descripton %>
  </p>

  <p>
    <strong>X:</strong>
    <%= geometry.x %>
  </p>

  <p>
    <strong>Y:</strong>
    <%= geometry.y %>
  </p>

  <p>
    <strong>Z:</strong>
    <%= geometry.z %>
  </p>

  <p>
    <strong>Dx:</strong>
    <%= geometry.dx %>
  </p>

  <p>
    <strong>Dy:</strong>
    <%= geometry.dy %>
  </p>

  <p>
    <strong>Dz:</strong>
    <%= geometry.dz %>
  </p>

</div>
